.venv/

data_ignore/*

.DS_store
data/input_files.txt
.vscode/settings.json
.vscode/

*__pycache__*

output_advN/
output_ctxs_advN/
output_ctxs_ngrams/
output_detadvN/
output_final/

8marzo/*_pref/
8marzo/*_adv/